body	{
	background-color:#F5F5F5;
}
h1	{
	color:#2b2d2f;
	font-family:calibri;
}
p	{
	color:#2b2d2f;
	font-family:calibri;
	border: 1px solid #2b2d2f;
	padding: 5px 5px;
}
a:link, a:visited {
  /* background-color: #2b2b2f;
  color: white; */
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  /* background-color: #2b2b2f; */
}
